{% extends "base.html" %}

{% block title %} Servicios {% endblock %}

{% block content %}

<header>
    <div class="hero">
        <h1>Cecytos Web Services</h1>
        <h2>Sistema de gestion de servicios</h2>
    </div>
</header>

<div class="about">
    <h3>Que somos</h3>
    <p>
        Esta pagina fue creada con el proposito de agregar y monitoriar tanto servicios como
        reportes en la comunidad local, aqui podras agregar, modificar y eliminar tanto los
        servicios como los reportes de estos, pero no te olvides de registrarte e iniciar secion
        para que lo puedas hacer. <br>
        Sin mas por el momento. Gracias por visiatar esta pagina.
    </p>
</div>

{% endblock %}