{% extends "base.html" %}

{% block title %} Cecytos Web {% endblock %}

{% block content %}

<header>
    <div class="hero">
        <h1>Cecytos Web Services</h1>
        <h2>Sistema de gestión de servicios</h2>
    </div>
</header>

<div class="about">
    <h3>Que somos</h3>
    <p>
        Esta pagina fue creada con el propósito de agregar y monitorear tanto servicios como
        reportes en la comunidad local, aquí podrás agregar, modificar y eliminar tanto los
        servicios como los reportes de estos, pero no te olvides de registrarte e iniciar sesión
        para que lo puedas hacer. <br>
        Sin mas por el momento. Gracias por visitar esta pagina.
    </p>
</div>

<section id="manual" class="manual">
    <h3>¿Cómo usar la pagina?</h3>
    <p>
        Realizar el test y ver tu resultado es sumamente sencillo y rápido.
    </p>
    <div class="containers-box">
        <div class="container">
            <p>1</p>
            <div>
                <h4>Regístrate</h4>
                <p>
                    Da click en iniciar sesión, si no tienes cuenta da click en el link
                    inferior en el formulario. <br>
                </p>
            </div>
            <img src="img/click.png" alt="">
        </div>
        <div class="container">
            <p>2</p>
            <div>
                <h4>Crea un usuario</h4>
                <p>
                    Crea un nombre de usuario y una contraseña, confirma la contraseña
                    y da click en enviar.
                </p>
            </div>
            <img src="img/input.png" alt="">
        </div>
        <div class="container">
            <p>3</p>
            <div>
                <h4>Agrega tu reporte</h4>
                <p>
                    Da click en servicios para ver que servicios están disponibles y después
                    ve a reportes, da click en agregar reporte y llena el formulario. <br>
                </p>
            </div>
            <img src="img/test.png" alt="">
        </div>
        <div class="container">
            <p>4</p>
            <div>
                <h4>Ve tu resultado</h4>
                <p>
                    Observa tu resultado y listo ahora solo queda esperar. <br>
                </p>
            </div>
            <img src="img/check.png" alt="">
        </div>
    </div>
</section>

{% endblock %}