{% extends "base.html" %}

{% block title %} Reportes {% endblock %}

{% block content %}

<header>
    <div class="hero">
        <h1>Reportes</h1>
        <h2>Cecytos Web Services</h2>
    </div>
    <a href="{{ url_for('reports') }}" class="button-1">Agregar Reporte</a>
</header>

<section class="bocations">
{% for c in reports %}

    <div class="zone">
        <h4>{{ c[2] }}</h4>
        <p>
            Descripción: {{ c[5] }}
        </p>
        <ul>
            <li>Usuario: {{ c[1] }}</li>
            <li>Dirección: {{ c[3] }}</li>
            <li>Urgencia: {{ c[4] }}</li>
            <li>Fecha: {{ c[6] }}</li>
        </ul><br>
        {% if current_user.type == "admin" or current_user.nombre == c[1] %}
            <a href="{{ url_for('reports_mod', id=c[0]) }}">Modificar</a>
            <a href="{{ url_for('reports_del', id=c[0]) }}">Eliminar</a>
        {% endif %}
        <br>
    </div>

{% endfor %}
</section>

{% endblock %}