{% extends "base.html" %}

{% block title %} Servicios {% endblock %}

{% block content %}

<header>
    <div class="hero">
        <h1>Services</h1>
        <h2>Cecytos Web Services</h2>
    </div>
    {% if current_user.type == "admin" %}
        <a href="{{ url_for('services') }}" class="button-1">Agregar Servicio</a>
    {% endif %}
</header>

<section class="bocations">
{% for c in services %}

    <div class="zone">
        <h4>{{ c[1] }}</h4>
        <ul>
            <li>Costo: {{ c[2] }}</li>
            <li>Periodo: {{ c[3] }}</li>
            <li>Tipo: {{ c[4] }}</li>
        </ul><br>
        {% if current_user.type == "admin" %}
            <a href="{{ url_for('services_mod', id=c[0]) }}">Modificar</a>
            <a href="{{ url_for('services_del', id=c[0]) }}">Eliminar</a>
        {% endif %}
        <br>
    </div>

{% endfor %}
</section>

{% endblock %}