{% extends "base.html" %}

{% block extra_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> {% endblock %}

{% block title %} Servicios {% endblock %}

{% block content %}

<main>
    <div class="triple-back">
        <div class="doble-back">
            <form method="POST">
                {% if id %}
                    <h3>Modificar Servicio: {{ service }}</h3>
                {% else %}
                    <h3>Agregar servicio</h3>
                {% endif %}
                
                <label for="nombre">Nombre del servicio</label><br>
                <input type="text" name="nombre" id="nombre" required><br><br>

                <label for="costo">Costo del servicio</label><br>
                <input type="text" name="costo" id="costo" required><br><br>

                <label for="periodo">Perdido de pago</label><br>
                <input type="text" name="periodo" id="periodo" required><br><br>

                <label for="type">Tipo de servicio</label><br>
                <select name="type" id="type" required>
                    <option value="1ra Necesidad">1ra Necesidad</option>
                    <option value="2da Necesidad">2da Necesidad</option>
                    <option value="3ra Necesidad">3ra Necesidad</option>
                </select><br><br>

                <div class="botones">
                    {% if id %}
                        <button class="button-1" type="submit">Modificar</button>
                    {% else %}
                        <button class="button-1" type="submit">Agregar</button>
                    {% endif %}
                    <a class="button-1" href="{{ url_for('services_get') }}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}